
html{
    scroll-behavior: smooth;
  }
  *{
    margin:0;
    padding: 0;
    font-family:sans-serif;
  }
  .hero{
    position:relative;
    height:100vh;
    width: 100%;
    background-color:white;
  }
  nav{
    display: flex;
    width: 84%;
    margin:auto;
    padding:20px 0px;
    align-items: center;
    justify-content: space-between;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  
  text-align: center;
  }
  nav ul li a{
    display: inline-block;
    padding-top:15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: orange;
    height: 30px;
    width: 100px;
  border-radius: 50px;
  margin-top: 20px;
  overflow: hidden;
  }
  nav ul li a:hover{
    box-shadow: 0px 0px 40px orangered;
  }
  #about{
    margin-left:8%;
    margin-top:15%;
  }
  #about h1{
    font-size:40px;
    margin-bottom: 40px;
  }
  #logo{
    height:100px;
    width:auto;
    border-radius: 80%;
    border: 10px solid orange;
  }
  span{
    color:orange;
  }
  #about p{
    line-height:22px;
    color:#555;
  }
  
  .images{
    width:45%;
    height: 85%;
  position: absolute;
    margin-bottom: 20%;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
  }
  .images img{
    position: absolute;
    height: 70%;
    bottom:90%;
    left:35%;
    
  }
  .images:hover{

  transform: translateX(-20%);
  }
  
    .shape{
  height:500px;
  margin-left: 500px;
 
    }
    .girl{
      height:150px;
      width:500px;
      margin-left: 500px;
    }
 
   
    
  #projects{
    margin-top:20%;
    
  }

  #projects #subprojects{
    margin-top: 50px;
    display: flex;
    justify-content:space-between ;
    background-color: white;
    padding:20px;
    justify-content:space-around ;
    
  } 

  #projects a{
    text-decoration: none;
    background-color: orange;
    height:300px;
    width: 300px;
    font-size:30px;
    font-weight:bold;
    color:black;
    text-align: center;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 40px;
    
  }
   #projects a:hover{
    box-shadow:0px 0px 80px orange;
    transform: skew(5deg);
  }
  
  #project-1{
    
    
      margin-top:30px;
      height:230px;
      width:269px;
      border-radius:30px;
   align-items: center;
      background-color:white;
      padding:15px;
      border-bottom: 12px solid orangered;
  }
  #pro-1{
    height:200px;
    width: 200px;
    border-radius: 60px;
    border: 2px solid orangered;
  }
  #projects #project{
    text-align: center;
    font-size: 90px;
    color:orangered;
  }
  section{
    margin-top:140px;
  }
  #form{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    width:600px;
    background-color: orange;
    height: 300px;
    padding:40px;
    margin-left:350px;
    font-weight:bold;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  #contacts{
    text-align: center;
    font-size: 90px;
    color:orangered;
  }
  button{
    height:30px;
    background-color: orangered;
    border-radius: 50px;
  }
  button:hover{
    background-color: rgba(78, 25, 5, 0.555);
  }
  
  #blogs{
    text-align: center;
    font-size: 90px;
    color:orangered;
  }
  #blog{
    
    justify-content: space-between;
  }
  #matter{
    background-color: orange;
    border-radius: 50px;
    padding:40px;
    margin:30px 30px 30px 30px;
  
  }
  #matter:hover{
    box-shadow: 0px 0px 40px orangered;
  }
  